:host {
    min-height: 20dvb;
    border: 1px solid black;
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

h2 {
    width: 15ch;
    text-transform: capitalize;
    font-weight: bolder;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20);
}

@keyframes typing {
    from {
        width: 0ch;
    }
}