/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DynaPuff:wght@400..700&family=Press+Start+2P&display=swap');


h1, h2, h3, body, ul, li {
    margin: 0;
    padding: 0;
}

* {
    box-sizing:border-box;
}

main {
    padding: 0 1rem;
    font-family: "Bebas", system-ui;
    font-weight: 400;
    font-style: normal;
}